$font-primary: "Red Hat Display", sans-serif;

$font-weight-bold: 900;
$font-weight-medium: 500;

$color-green: #4d96a9;
$color-light-blue: #8fe3f9;
$color-dark-purple: #855fb1;
$color-light-purple: #d9b8ff;
$color-black: #28283d;
$color-gray: #87879d;
$color-white: #fafafa;
