@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
  padding: 1rem 2.6rem;
  border-radius: 4rem;
  color: variables.$color-white;
  margin: 0 auto;
  height: 3.625rem;

  @include mixins.mq(medium) {
    margin: 0;
  }

  &-container {
    @include mixins.mq(medium) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &--download {
    background-color: variables.$color-green;
    width: 12rem;
    &:hover,
    &:active {
      background-color: #71c0d4;
    }

    & span {
      color: variables.$color-light-blue;
    }
  }
  &--what {
    background-color: variables.$color-dark-purple;
    margin-top: 1rem;
    &:hover,
    &:active {
      background-color: #b18bdd;
    }
    @include mixins.mq(medium) {
      margin-top: 0;
    }
  }
  &--footer {
    background-color: variables.$color-dark-purple;
    width: 12rem;
    &:hover,
    &:active {
      background-color: #b18bdd;
    }
    & span {
      color: variables.$color-light-purple;
    }
  }
}
